NEXT_PUBLIC_SUPABASE_URL=https://stsecrzysvodqmxrpjma.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Sf-U6HrSobJ7tDNtZ_fHsg_TKNp4VW6
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_anVzdC1tYXlmbHktNzcuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_sdTH09NWe9deGcFunorJhFFFVWUFFqqoHwp6zxv44K
